header{
    background-color: rgb(80, 78, 78);
    width: 200%;
    height: 60px;
    padding: 2s px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100%;
}

.menu {
    height: 30px;
}